@charset "UTF-8";
article, aside, header, main,footer, nav, section {
    display: block;
}
html, body, h1, h2, h3, ul, li, a, p, 
article, aside, header, footer, main, nav, section {
    padding: 0px;
    margin: 0px;
}

body{
  background-color:#E8DDCB;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

#Compralocal header{
  background-color: #E6B631;
  margin-bottom: 30px;
}

#Compralocal footer{
  background-color: #E6B631;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4rem;
}
#Compralocal footer>div{
  color:#211915;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body{
  position: relative;
  padding-bottom: 6rem;
}

