@media (min-width:661px){ 
  #qs{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    width:80%;
    left:10%;
    right:10%;
  }
}

@media (max-width:661px){ 
  #qs>h1{
    text-align: center;
  }
  #qs{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    width:80%;
    left:10%;
    right:10%;
  }
}