@charset "UTF-8";
article, aside, header, main,footer, nav, section {
    display: block;
}
html, body, h1, h2, h3, ul, li, a, p, 
article, aside, header, footer, main, nav, section {
    padding: 0px;
    margin: 0px;
}

header{
  background-color: #024321;
}

body{
  background-color:#E8DDCB;
  position: relative;
  min-height: 100vh;
}

footer{
  background-color: #024321;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4rem;
}
footer>div{
  color:#E8DDCB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body{
  position: relative;
  width:80%;
  padding-bottom: 6rem;
}

#inicio{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  left:10%;
  right:10%;
}

#inicio>section{
  display: flex;
  align-items: center;
}

#wp_chat{
  width: 326px;
  height: 600px;
}

#inicioContent{
  display: flex;
  flex-direction: column;
}

@media(max-width: 660px){
  #inicio>section{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
#tyc{
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  left:10%;
  right:10%;
}
