@charset "UTF-8";
article, aside, header, main,footer, nav, section {
    display: block;
}
html, body, h1, h2, h3, ul, li, a, p, 
article, aside, header, footer, main, nav, section {
    padding: 0px;
    margin: 0px;
}
body{
  background-color:#E8DDCB;
}
header{
  background-color: #024321;
}

#body{
  position: relative;
  width:50%;
}